.hero-body {
    background-image: url("../images/dancingman.gif");
    object-fit: contain;
  }

  body {
      background-color: rgb(38, 27, 185);
  }

  /* Background adjusts for containers, if removed it will go to background color */
  .nes-container {
      background: white;
  }

  /* NEW : Member Cards */
  .coreteam-members {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .member-card .avatar > img {
      display: block;
      width: 80px;
      height: 80px;
      border-radius: 50%;
  }
